*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  background: #f2e9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallary{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box{
  width: 100px;
  height: 400px;
  margin: 10px;
  border-radius: 50px;
  background: url(rifath/1.jpg);
  background-size: cover;
  background-position: -18px ;
  position: relative;
  transition: width 0.5s;
}
.img-box:nth-child(2){
  background: url(rifath/2.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(3){
  background: url(rifath/3.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(4){
  background: url(rifath/4.jpg);
  background-size: cover;
  background-position: right;
}
.img-box h3{
  color: white;
  position: absolute;
  bottom: 0px;
  left: 25px;
  opacity: 0;
  transition: bottom .5s, opacity 0.5s;
}
.img-box:hover{
  width: 300px;
  cursor:pointer ;
}

.img-box:hover h3{
  opacity: 1;
  bottom:25px;
}